<div class="grid-container">
  <div class="grid-item item">
    <table class='summary'>
      <tr>
        <td>
          <table>
            <tr>
              <td><canvas id="icon_summary" width="128" height="128"></canvas></td>
              <td><%= @weather_information[:current_weather_summary][:description] %></td>
            </tr>
            <tr>
              <td colspan="2"><%= @weather_information[:current_weather_summary][:temp_current] %>&deg;</td>
            </tr>
            <tr>
              <td><b>High: </b><%= @weather_information[:current_weather_summary][:temp_hi] %>&deg;</td>
              <td><b>Low: </b><%= @weather_information[:current_weather_summary][:temp_low] %>&deg;</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <%= @weather_information[:current_weather_summary][:city] %>, <%= @weather_information[:current_weather_summary][:state] %>
              </td>
            </tr>
            <tr>
              <td><%= @weather_information[:current_weather_summary][:country] %></td>
            </tr>
            <tr>
              <td>
                <%= @weather_information[:current_weather_summary][:time] %>, <%= @weather_information[:current_weather_summary][:date] %>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td><%= link_to 'Change Location', '/', id: 'change_loc' %></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td><%= link_to 'Favorite', '/favorite' %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class="grid-item item4">
    <table>
      <th>Details</th><th></th><th></th>
      <tr>
        <td>
          <table>
            <tr>
              <td><%= @weather_information[:current_weather_detail][:icon] %></td>
            </tr>
            <tr>
              <td><%= @weather_information[:current_weather_detail][:description] %></td>
            </tr>
            <tr>
              <td>Today: <%= @weather_information[:current_weather_detail][:today] %></td>
            </tr>
            <tr>
              <td>Tonight: <%= @weather_information[:current_weather_detail][:tonight] %></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>Feels Like:</td>
              <td><%= @weather_information[:current_weather_detail][:feels_like] %>&deg;</td>
            </tr>
            <tr>
              <td>Humidity:</td>
              <td><%= @weather_information[:current_weather_detail][:humidity] %></td>
            </tr>
            <tr>
              <td>Visibility:</td>
              <td><%= @weather_information[:current_weather_detail][:visibility] %></td>
            </tr>
            <tr>
              <td>UV Index:</td>
              <td><%= @weather_information[:current_weather_detail][:uv_index] %> <%= @weather_information[:current_weather_detail][:uv_category] %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class="grid-item item5">
    <table>
      <tr>
        <table>
          <tr>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_1][:icon] %><br>
              <%= @weather_information[:forecast][:day_1][:temp_avg] %>&deg;
            </td>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_2][:icon] %><br>
              <%= @weather_information[:forecast][:day_2][:temp_avg] %>&deg;
            </td>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_3][:icon] %><br>
              <%= @weather_information[:forecast][:day_3][:temp_avg] %>&deg;
            </td>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_4][:icon] %><br>
              <%= @weather_information[:forecast][:day_4][:temp_avg] %>&deg;
            </td>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_5][:icon] %><br>
              <%= @weather_information[:forecast][:day_5][:temp_avg] %>&deg;
            </td>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_6][:icon] %><br>
              <%= @weather_information[:forecast][:day_6][:temp_avg] %>&deg;
            </td>
            <td>
              <%= @weather_information[:current_weather_summary][:time_short] %><br>
              <%= @weather_information[:forecast][:day_7][:icon] %><br>
              <%= @weather_information[:forecast][:day_7][:temp_avg] %>&deg;
            </td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <table>
          <tr>
            <td><%= @weather_information[:forecast][:day_1][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_1][:icon] %><br>
              <%= @weather_information[:forecast][:day_1][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_1][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_1][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_1][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_1][:temp_low] %>&deg;
            </td>
          </tr>
          <tr>
            <td><%= @weather_information[:forecast][:day_2][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_2][:icon] %><br>
              <%= @weather_information[:forecast][:day_2][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_2][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_2][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_2][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_2][:temp_low] %>&deg;
            </td>
          </tr>
          <tr>
            <td><%= @weather_information[:forecast][:day_3][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_3][:icon] %><br>
              <%= @weather_information[:forecast][:day_3][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_3][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_3][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_3][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_3][:temp_low] %>&deg;
            </td>
          </tr>
          <tr>
            <td><%= @weather_information[:forecast][:day_4][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_4][:icon] %><br>
              <%= @weather_information[:forecast][:day_4][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_4][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_4][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_4][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_4][:temp_low] %>&deg;
            </td>
          </tr>
          <tr>
            <td><%= @weather_information[:forecast][:day_5][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_5][:icon] %><br>
              <%= @weather_information[:forecast][:day_5][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_5][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_5][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_5][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_5][:temp_low] %>&deg;
            </td>
          </tr>
          <tr>
            <td><%= @weather_information[:forecast][:day_6][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_6][:icon] %><br>
              <%= @weather_information[:forecast][:day_6][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_6][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_6][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_6][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_6][:temp_low] %>&deg;
            </td>
          </tr>
          <tr>
            <td><%= @weather_information[:forecast][:day_7][:weekday] %></td>
            <td>
              <%= @weather_information[:forecast][:day_7][:icon] %><br>
              <%= @weather_information[:forecast][:day_7][:summary] %>
            </td>
            <td>
              <%= @weather_information[:forecast][:day_7][:precip_type] %><br>
              <%= @weather_information[:forecast][:day_7][:precip_probability] %>
            </td>
            <td>
              &#8599;<%= @weather_information[:forecast][:day_7][:temp_high] %>&deg;
            </td>
            <td>
              &#8600;<%= @weather_information[:forecast][:day_7][:temp_low] %>&deg;
            </td>
          </tr>
        </table>
      </tr>
    </table>

  </div>
</div>

<script>
  // var skycons = new Skycons({"color": "pink"});
  // skycons.add(document.getElementById("icon_summary"), Skycons.RAIN);
  // skycons.play();

  $('#change_loc').click(function() {
    var location = prompt('Please enter location');

    if (location == null || location == '') {

    } else {
      $.get('/', {location: location})
    }
  })
</script>
